.main{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
}
.right{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.inner{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.img{
    height: 100%;
    width: 100%;
}
.text{
    font-size: 2em;
    word-spacing: 0.75rem;
    letter-spacing: 0.1rem;
}
